<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Index - SPROUT Bootstrap Template</title>
    <meta name="description" content="">
    <meta name="keywords" content="">

    <!-- Favicons -->
    <link href="{% static 'landing/img/favicon.png' %}" rel="icon">
    <link href="{% static 'landing/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com" rel="preconnect">
    <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
          rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="{% static 'landing/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'landing/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
    <link href="{% static 'landing/vendor/aos/aos.css' %}" rel="stylesheet">
    <link href="{% static 'landing/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">
    <link href="{% static 'landing/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">

    <!-- Main CSS File -->
    <link href="{% static 'landing/css/main.css' %}" rel="stylesheet">

    <!-- =======================================================
    * Template Name: SPROUT
    * Template URL: https://bootstrapmade.com/SPROUT-multipurpose-html-template-for-free/
    * Updated: Aug 07 2024 with Bootstrap v5.3.3
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
</head>

<body class="index-page">

<header id="header" class="header fixed-top">


    <div class="branding d-flex align-items-center">

        <div class="container position-relative d-flex align-items-center justify-content-between">
            <a href="{% url 'index' %}" class="logo d-flex align-items-center">
                <!-- Uncomment the line below if you also wish to use an image logo -->
                <!-- <img src="assets/img/logo.png" alt=""> -->
                <h1 class="sitename">SPROUT</h1>
            </a>

            <nav id="navmenu" class="navmenu">
                <ul>
                    <li><a href="{% url 'index' %}#hero">Home</a></li>
                    <li><a href="{% url 'index' %}#about">About</a></li>

                    <li><a href="{% url 'shop:order_list' %}" id="order">Orders</a></li>
                    <li><a href="{% url 'shop:shop' %}" id="shop">Shop</a></li>
                    {% if user.is_authenticated %}
                        <li><a href="{% url 'shop:cart' %}" id="cart">Cart <span
                                class="badge bg-secondary rounded-circle cart-count">{{ user.cart.cart_count }}</span></a></li>
                        <li>
                            <a href="{% url 'main:dashboard' %}">Dashboard</a>
                        </li>
                        {% else %}
                        <a href="{% url 'accounts:login' %}">Get started</a>
                    {% endif %}
                </ul>
                <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
            </nav>
        </div>

    </div>

</header>

<main class="main container" style="margin-top: 100px">

    {% block body %}{% endblock %}

</main>

<footer id="footer" class="footer position-relative dark-background">


    <div class="container copyright text-center mt-4">
        <p>© <span>Copyright</span> <strong class="px-1 sitename">SPROUT</strong> <span>All Rights Reserved</span></p>

    </div>

</footer>

<!-- Scroll Top -->
<a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i
        class="bi bi-arrow-up-short"></i></a>

<!-- Preloader -->
<div id="preloader"></div>

<!-- Vendor JS Files -->
<script src="{% static 'landing/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'landing/vendor/aos/aos.js' %}"></script>
<script src="{% static 'landing/vendor/swiper/swiper-bundle.min.js' %}"></script>
<script src="{% static 'landing/vendor/glightbox/js/glightbox.min.js' %}"></script>

<!-- Main JS File -->
<script src="{% static 'landing/js/main.js' %}"></script>

</body>

</html>